<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- Link to home -->
    <button mat-icon-button fxShow="true" fxHide.lt-md="true" (click)="navigateTo('/');">
      <mat-icon>cloud_circle</mat-icon>
    </button>
    <!-- Show toggle button on small screens -->
    <button mat-icon-button fxShow="true" fxHide.gt-sm="true" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Application title -->
    <span>SmartDataStore</span>
    <!-- This fills the remaining space of the current row -->
    <span class="filler"></span>
    <!-- Notifications / Alerts -->
    <!-- TODO show open alerts -->
    <button mat-icon-button class="space-right" (click)="navigateTo('/alerts');">
      <mat-icon matBadge="0" matBadgeColor="accent"> notifications</mat-icon>
    </button>

    <!-- Show only on big screens -->
    <!-- User management -->
    <!-- TODO show only for admin -->
    <button mat-icon-button fxShow="true" fxHide.lt-md="true" (click)="navigateTo('/users');">
      <mat-icon>people</mat-icon>
    </button>
    <!-- User profile -->
    <button mat-icon-button fxShow="true" fxHide.lt-md="true" (click)="navigateTo('/profile');">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <!-- Home -->
      <button mat-button (click)="navigateTo('/');">Home</button>
      <!-- User management -->
      <!-- TODO show only for admin -->
      <button mat-button (click)="navigateTo('/users');">Users</button>
      <!-- User profile -->
      <button mat-button (click)="navigateTo('/profile');"> Profile</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Header for the page -->
    <app-header></app-header>
    <!-- Content of the page -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- Footer of the page -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
