/**
 * This fills the remaining space, by using flexbox.
 * Every toolbar row uses a flexbox row layout.
 */
.filler {
  flex: 1 1 auto;
}

/**
 * This gives a small right margin.
 */
.space-right {
  margin-right: 20px;
}

/**
 * This class is for the content.
 */
.content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Container for the sidenav
 */
.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: none !important;
}
