/**
 * This class is for the header element in the content page.
 */
.header, .header a {
  width: 95%;
  color: #BDBDBD;
  text-decoration: none;
  font-size: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #880E4F;
}

/**
 * This class set the beta banner in the right upper corner.
 */
.beta-banner {
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
}
