<div class="background">
  <!-- Responsive Grid for the tiles -->
  <!--  <mat-grid-list [cols]="breakpoint" rowHeight="4:1" gutterSize="15px" (window:resize)="onResize($event)">-->
  <!--    <mat-grid-tile [colspan]="2" [rowspan]="2">-->
  <!--      <app-template-big></app-template-big>-->
  <!--    </mat-grid-tile>-->
  <!--    <mat-grid-tile [colspan]="2" [rowspan]="2">-->
  <!--      <app-template-big></app-template-big>-->
  <!--    </mat-grid-tile>-->
  <!--    <mat-grid-tile [colspan]="4" [rowspan]="3">-->
  <!--      <app-template-big></app-template-big>-->
  <!--    </mat-grid-tile>-->
  <!--    <mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--      <app-template-big></app-template-big>-->
  <!--    </mat-grid-tile>-->
  <!--    <mat-grid-tile>test2</mat-grid-tile>-->
  <!--  </mat-grid-list>-->
  <!-- TODO create div with floating elements as titles -->
</div>
