/**
 * Set the background for the dashboard
 */
.background {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: url('/assets/dashboard-background.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
}

/* for debug */
mat-grid-tile {
  border: 1px solid red
}
